In [2]:
import pandas as pd

In [4]:
dt_data = pd.read_json('moveis_disponiveis.json')
dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [7]:
#converter data para datetime
pd.to_datetime(dt_data['data'])

0        2016-01-04
1        2016-01-05
2        2016-01-06
3        2016-01-07
4        2016-01-08
            ...
364995   2016-12-29
364996   2016-12-30
364997   2016-12-31
364998   2017-01-01
364999   2017-01-02
Name: data, Length: 365000, dtype: datetime64[ns]

In [9]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [13]:
dt_data['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

In [15]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

In [16]:
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

In [17]:
# importamos a biblioteca numpy
import numpy as np

# utilizamos o método fillna para preencher os elementos vazios por '0.0'
# definimos o parâmetro de inplace para True para substituir no DataFrame
dt_data['preco'].fillna('0.0', inplace = True)

# apagamos o $ e as vírgulas com apply lambda
dt_data['preco'] = dt_data['preco'].apply(lambda x: x.replace('$', '').replace(',',''))

# transformamos os tipos de dados para float64
dt_data['preco'] = dt_data['preco'].astype(np.float64)

# observamos o resultado final
dt_data

          id       data  vaga_disponivel  preco
0        857 2016-01-04            False    0.0
1        857 2016-01-05            False    0.0
2        857 2016-01-06            False    0.0
3        857 2016-01-07            False    0.0
4        857 2016-01-08            False    0.0
...      ...        ...              ...    ...
364995  3279 2016-12-29             True  140.0
364996  3279 2016-12-30             True  140.0
364997  3279 2016-12-31             True  140.0
364998  3279 2017-01-01             True  140.0
364999  3279 2017-01-02            False    0.0

[365000 rows x 4 columns]